<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reset Password</title>
</head>
<body>
  <h1>Hello, {{name}}!</h1>
  <p>We received a request to reset your password.</p>
  <p>Click the link below to reset it:</p>
  <a href="{{link}}">Reset Password</a>
  <p>This link will expire in 15 minutes.</p>
  <p>If you didn't request a password reset, you can ignore this email.</p>
</body>
</html>
</write_to_file>
<task_progress>
- [x] Анализ проекта
- [x] Установить недостающие npm пакеты
- [x] Создать шаблон reset-password-email.html
- [ ] Реализовать sendMail.js
- [ ] Реализовать saveFileToCloudinary.js
- [ ] Создать multer middleware
- [ ] Обновить User model (добавить avatar)
- [ ] Обновить authValidation.js (2 схемы)
- [ ] Обновить authController.js (2 контроллера)
- [ ] Создать userController.js (updateUserAvatar)
- [ ] Обновить authRoutes.js (2 роута)
- [ ] Создать userRoutes.js
- [ ] Обновить server.js (регистрация userRoutes)
</task_progress>
</write_to_file>